doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Fiber Optik

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/themes.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body.coverflow

    article

      section
        h1 Fiber Optik
        img(src='File/image/fiber-optic.jpg')

      section
        h2 Nama Anggota
        ul
          li Jemmy Hasjem    121111494
          li Grant Wilbert   121112465
          li Alfian Agusnady 121110294
          li Eliot Tan       121110588
      
      section
        h2 Fungsi Fiber Optik
        h3 Fungsi Fiber Optik adalah mengarahkan gelombang cahaya dalam satu arah lewat proses terjadinya pembiasan cahaya.

      section
        h2 Kekurangan Fiber Optik
        ul(style='font-size:14px;')
          li Tidak dapat menyalurkan energy listrik. Hal ini mengakibatkan tidak dapat memberikan catuan pada pemasangan repeater
          li Relative sulit saat instalasi. Kabel fiber OPTIK seperti waktu penyambungan, pemasangan konektor lebih memerlukan ketelitian
          li  Kurang tahan terhadap tekanan mekanis dibandingkan kabel tembaga. Konstruksi fiber OPTIK cukup lemah maka dalam pemakaiannya diperlukan lapisan penguat sebagai proteksi dan karakteristik transmisi dapat berubah bila terjadi tekanan dari luar yang berlebihan
          li Perlu proteksi mata untuk teknisinya

      section
        h2 Kode Warna Pada Fiber Optik
        h3 Dalam standarisasinya kode warna dari selubung luar kabel serat optik jenis Patch Cord adalah sebaga berikut :
        ul
        li Kuning   : Serat Optik Single-Mode
        li Orange   : Serat Optik Multi-Mode
        li Aqua     : Optimal Laser 10 giga 50/125 Mikrometer serat optik multi-mode
        li Abu-Abu  : Kode warna serat optik Multi-Mode, yang tidak digunakan lagi
        li Biru     : Kadang masih digunakan dalam model perancangan    

      section
        h2 Sebab Pelemahan Cahaya Fiber Optik
          ul(style= 'font-size : 14px;')
            li Pelemahan (Attenuation) cahaya sangat penting diketahui terutama dalam merancang sistem telekomunikasi serat optik itu sendiri. 
            li Berikut ini beberapa hal yang menyumbang kepada pelemahan cahaya pada serat optik :
            li(style='text-align : left;') 1. Penyerapan (Absorption) : Kehilangan cahaya yang disebabkan adanya kotoran dalam Fiber Optik
            li(style='text-align : left;') 2. Penyebaran (Scattering)
            li(style='text-align : left;') 3. Mikro Bending

      section
        h3 Penyerapan (Absorption)
          hr
          p(style ='text-align:left;font-size : 14px;') Absorption adalah sifat alami dari gelas. pada daerah tertentu gelas dapat mengabsorpsi sebagian besar cahaya seperti pada daerah UV. Hal ini disebabkan daerah elektron yang kuat. demikian pula untuk daerah infra merah, terjadi absorpsi yang besar oleh adanya getaran ikatan kimia. oleh sebab itu penggunaan fiber optik harus menjauhi daerah UV dan IR. Penyebab absorpsi lainnya adalah karena adanya transmisi ion-ion logam danion OH. Ion OH ternyata memberikan sumbangan absorpsi yang cukup besar. Semakin lama usia suatu fiber, maka semakih banyak jumlah ion OH didalamnya sehingga kualitas fiber optik menurun.
          // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild

        