doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Fiber Optik

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/themes.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body.coverflow

    article

      section
        h1 Fiber Optik
        img(src='File/image/fiber-optic.jpg')

      section
        h2 Nama Anggota
        ul
          li Jemmy Hasjem    121111494
          li Grant Wilbert   121112465
          li Alfian Agusnady 121110294
          li Eliot Tan       121110588

      section
        <a href="http://id.wikipedia.org/wiki/Serat_optik" target="_tab">Fiber Optik</a>
        p Serat optik adalah saluran transmisi atau sejenis kabel yang  terbuat dari serat kaca atau plastik yang sangat halus dan lebih kecil dari sehelai rambut (sekitar 120 mikrometer), dan dapat digunakan untuk mentransmisikan sinyal cahaya dari suatu tempat ke tempat lain hingga jarak 50km
      section
        h1 Jump to...
        ul
          li <a href="#5">Sejarah Fiber Optik</a>
          li <a href="#6">Fungsi Fiber Optik</a>
          li <a href="#7">Stuktur Fiber Optik</a>
          li <a href="#9">Kelebihan Fiber Optik</a>
          li <a href="#10">Kekurangan Fiber Optik</a>
          li <a href="#11">kode warna Fiber Optik</a>
          li <a href="#12">Jenis-jenis Fiber Optik</a>


      section
        h2 Sejarah Fiber Optik
        p(style='font-size:12px;') Penggunaan cahaya sebagai pembawa informasi sebenarnya sudah banyak digunakan sejak zaman dahulu, baru sekitar tahun 1930-an para ilmuwan Jermanmengawali eksperimen untuk mentransmisikan cahaya melalui bahan yang bernama serat optik. Percobaan ini juga masih tergolong cukup primitif karena hasil yang dicapai tidak bisa langsung dimanfaatkan, namun harus melalui perkembangan dan penyempurnaan lebih lanjut lagi. Perkembangan selanjutnyaadalah ketika para ilmuawan Inggris pada tahun 1958 mengusulkan prototipeserat optik yang sampai sekarang dipakai yaitu yang terdiri atas gelas inti yang dibungkus oleh gelas lainnya. Sekitar awal tahun 1960-an perubahan fantastisterjadi di Asia yaitu ketika para ilmuwan Jepang berhasil membuat jenis seratoptik yang mampu mentransmisikan gambar.
        <a href='File/web/sejarah.html' target="_tab">Klik Jika ingin baca lebih lanjut</a>

      section
        h2 Fungsi Fiber Optik
        h3 Fungsi Fiber Optik adalah mengarahkan gelombang cahaya dalam satu arah lewat proses terjadinya pembiasan cahaya.


      section
        h3.bullet Struktur fiber optik terdiri dari beberapa susunan
        ol(style='font-size:15px;')
          br
          li(style='text-align : left;') Core - serat kaca yang tipis menjadi media cahaya berjalan, sehingga pengiriman cahaya dapat dilakukan.
          li(style='text-align : left;') Cladding - Lapisan luar yang melindungi inti dan memantukan kembali cahaya yang terpancari keluar kembali ke dalam inti
          li(style='text-align : left;') Buffer Coating - Selubung plastik yang bertujuan melindungi serat dari kerusakan yang diakibatkan dari lengkungan kabel dan gangguan luar seperti kelembaban. 


      section
        h2 Struktur Fiber Optik
        img(src='File/image/FO.jpg')
              

      section
        h2 Kelebihan Serat Optik
        ul(style='font-size:14px;')
          li Lebar bidang yang luas, sehingga sanggup menampung informasi yang besar.
          li Bentuk yang sangat kecil dan murah (murah jika membandingkannya dengan banyaknya daya transmisi dari kabel tembaga kapasitas lebih besar).
          li Tidak terpengaruh oleh medan elektris dan medan magnetis.
          li Isyarat dalam kabel terjamin keamanannya.
          li Tidak terdapat tenaga listrik didalam serat sehingga tidak akan terjadi ledakan maupun percikan api.
          li Substan sangat rendah, sehingga memperkecil jumlah sambungan dan jumlah pengulang.

      section
        h2 Kekurangan Fiber Optik
        ul(style='font-size:14px;')
          li Tidak dapat menyalurkan energy listrik. Hal ini mengakibatkan tidak dapat memberikan catuan pada pemasangan repeater
          li Relative sulit saat instalasi. Kabel fiber OPTIK seperti waktu penyambungan, pemasangan konektor lebih memerlukan ketelitian
          li  Kurang tahan terhadap tekanan mekanis dibandingkan kabel tembaga. Konstruksi fiber OPTIK cukup lemah maka dalam pemakaiannya diperlukan lapisan penguat sebagai proteksi dan karakteristik transmisi dapat berubah bila terjadi tekanan dari luar yang berlebihan
          li Perlu proteksi mata untuk teknisinya

      section
        h2 Kode Warna Pada Fiber Optik
        h3 Dalam standarisasinya kode warna dari selubung luar kabel serat optik jenis Patch Cord adalah sebaga berikut :
        ul
        li Kuning   : Serat Optik Single-Mode
        li Orange   : Serat Optik Multi-Mode
        li Aqua     : Optimal Laser 10 giga 50/125 Mikrometer serat optik multi-mode
        li Abu-Abu  : Kode warna serat optik Multi-Mode, yang tidak digunakan lagi
        li Biru     : Kadang masih digunakan dalam model perancangan

      section
        h3.bullet Ada 2 jenis Kabel Fiber optik : 
        ul(style='text-align : left;')
          li Single-mode
            p(style='font-size:12px;') Memiliki Core yang lebih kecil (berdiameter 9 micron) berfungsi mengirimkan sinar laser inframerah yang memungkinkan hanya satu modus cahaya berjalan melalui inti pada satu waktu. Dikembangkan untuk mempertahankan integritas data spasial dan spektrum dari masin masing sinyal optik jarak yang lebih jauh.
          li Multi-mode
             p(style='font-size:12px;') Merupakan tipe yang digunakan untuk tujuan komersial. Memiliki inti yang lebih besar dari serat Single-mode, memungkinkan ratusan modus cahaya tersebar melalui serat secara bersamaan. Berdiamater 62.5 micron.

      section
        h3 Single Mode vs Multi Mode
        img(src='File/image/single-multimode.jpg')


      section
        h3.bullet Bagaimana Fiber Optik Mentransmisi Cahaya??
        ul(style='font-size:12px; text-align:left;')
          li Pada prinsipnya fiber optik memantulkan dan membiaskan sejumlah cahaya yang merambat di dalamnya. Efisiensi dari serat optik ditentukan oleh kemurnian dari bahan penyusun gelas/kaca. Semakin murni bahan gelas, semakin sedikit cahaya yang diserap oleh fiber optik.
          hr

          li Untuk mengirimkan percakapan-percakapan telepon atau internet melalui fiber optik, sinyal analog di rubah menjadi sinyal digital. Sebuah laser transmitter pada salah satu ujung kabel melakukan on/off untuk mengirimkan setiap bit sinyal. System fiber optik modern dengan single laser bisa mentransmitkan jutaan bit/second. Atau bisa dikatakan laser transmitter on dan off jutaan kali /second.

      section
        ul(style='font-size:12px; text-align:left;')
          li Helai serat kaca tersebut didesain sangat halus,ketebalannya kira-kira sama dengan tebal rambut manusia. Helai serat kaca dilapisi oleh 2 lapisan plastik (2 layers plastic coating) dengan melapisi serat kaca dengan plastik, akan didapatkan equivalen sebuah cermin disekitar serat kaca. Cermin ini menghasilkan total internal reflection (refleksi total pada bagian dalam serat kaca).
          hr

          li Sama halnya ketika kita berada pada ruangan gelap dengan sebuah jendela kaca, kemudian kita mengarahkan cahaya senter 90 derajat tegak lurus dengan kaca, maka cahaya senter akan tembus ke luar ruangan. Akan tetapi jika cahaya senter tersebut diarahkan ke kaca jendela dengan sudut yang rendah (hampir paralel dengan cahaya aslinya), maka kaca tersebut akan berfungsi menjadi cermin yg akan memantulkan cahaya senter ke dalam ruangan. Demikian pula pada fiber optics, cahaya berjalan melalui serat kaca pada sudut yang rendah.


      section
        img(src='file/image/internalreflection.jpg')


      section
        h3.bullet Ada 5 Komponen utama dalam sistem komunikasi Fiber Optik
        ul(style='text-align:justify; font-size:12px;')
          li <a href="#18">Cahaya</a> - Sebagai pembawa informasi
          li <a href="#19">Optical Transmitter </a> - Memproduksi dan encode sinyal cahaya
          li <a href="#20">Kabel Fiber Optik  </a>- Mengalirkan sinyal cahaya 
          li <a href="#21">Optical Generator </a>- Memperkuat sinyal cahaya (jarak jauh)
          li <a href="#22">Optical Receiver </a>- Penerima dan decode sinyal cahaya


      section
        h3.bullet Cahaya
        ul(style='text-align:justify; font-size : 12px;')
          li Inilah sumber asal-muasal terjadinya sistem komunikasi fiber optik. Cahaya, komponen alam yang memiliki banyak kelebihan ini dimanfaatkan untuk membawa data dengan kecepatan dan bandwidth yang sangat tinggi. Cahaya mempunyai kecepatan tinggi, cahaya kebal terhadap gangguan-gangguan (interferensi), cahaya yang mampu berjalan jauh, semuanya akan Anda rasakan dengan menggunakan media fiber optik ini.

      section
        h3.bullet Optical Transmitter
        img(src='File/image/transmitter.png')
        hr
        ul(style='text-align:justify; font-size : 12px;')
          li Optical transmitter merupakan sebuah komponen yang bertugas untuk mengirimkan sinyal-sinyal cahaya ke dalam media pembawanya. Di dalam komponen ini terjadi proses mengubah sinyal-sinyal elektronik analog maupun digital menjadi sebuah bentuk sinyal-sinyal cahaya. Sinyal inilah yang kemudian bertugas sebagai sinyal korespondensi untuk data Anda. Optical transmitter secara fisik sangat dekat dengan media fiber optic pada penggunaannya. Dan bahkan optical transmitter dilengkapi dengan sebuah lensa yang akan memfokuskan cahaya ke dalam media fiber optik tersebut. Sumber cahaya dari komponen ini bisa bermacam-macam
        
          li Sumber cahaya yang biasanya digunakan adalah Light Emitting Dioda (LED) atau solid state laser dioda. Sumber cahaya yang menggunakan LED lebih sedikit mengonsumsi daya daripada laser. Namun sebagai konsekuensinya, sinar yang dipancarkan oleh LED tidak dapat menempuh jarak sejauh laser.


      section
        h3.bullet Kabel Fiber Optik
        img(src='File/image/fiberoptic.jpg')
        hr
        ul(style='text-align:justify; font-size : 12px;')
          li Komponen inilah yang merupakan pemeran utama dalam sistem ini. Kabel fiber optik biasanya terdiri dari satu atau lebih fiber optik yang akan bertugas untuk memandu cahaya-cahaya tadi dari lokasi asalnya hingga sampai ke tujuan. Kabel fiber optic secara konstruksi hampir menyerupai kabel listrik, hanya saja ada sedikit tambahan proteksi untuk melindungi transmisi cahaya. Biasanya kabel fiber optic juga bisa disambung, namun dengan proses yang sangat rumit. Proses penyambungan kabel ini sering disebut dengan istilah splicing.


      section
        h3.bullet Optical Regenerator
        ul(style='text-align:justify; font-size : 12px;')
          li Optical regenerator atau dalam bahasa Indonesianya penguat sinyal cahaya, sebenarnya merupakan komponen yang tidak perlu ada ketika Anda menggunakan media fiber optik dalam jarak dekat saja.
          hr
          
          li Sinyal cahaya yang Anda kirimkan baru akan mengalami degradasi dalam jarak kurang lebih 1 km. Maka dari itu, jika Anda memang bermain dalam jarak jauh, komponen ini menjadi komponen utama juga. Biasanya optical generator disambungkan di tengah-tengah media fiber optik untuk lebih menguatkan sinyal-sinyal yang lemah.


      section
        h3.bullet Optical Receiver
        img(src='File/image/receiver.png')
        hr
        ul(style='text-align:justify; font-size : 12px;')
          li Optical receiver memiliki tugas untuk menangkap semua cahaya yang dikirimkan oleh optical transmitter. Setelah cahaya ditangkap dari media fiber optic, maka sinyal ini akan didecode menjadi sinyal-sinyal digital yang tidak lain adalah informasi yang dikirimkan. Setelah di-decode, sinyal listrik digital tadi dikirimkan ke sistem pemrosesnya seperti misalnya ke televisi, ke perangkat komputer, ke telepon, dan banyak lagi perangkat digital lainnya. Biasanya optical receiver ini adalah berupa sensor cahaya seperti photocell atau photodiode yang sangat peka dan sensitif terhadap perubahan cahaya.



      section
        h2 Sebab Pelemahan Cahaya Fiber Optik
          ul(style= 'font-size : 14px;')
            li Pelemahan (Attenuation) cahaya sangat penting diketahui terutama dalam merancang sistem telekomunikasi serat optik itu sendiri. 
            li Berikut ini beberapa hal yang menyumbang kepada pelemahan cahaya pada serat optik :
            li(style='text-align : left;') 1. Penyerapan (Absorption) : Kehilangan cahaya yang disebabkan adanya kotoran dalam Fiber Optik
            li(style='text-align : left;') 2. Penyebaran (Scattering)
            li(style='text-align : left;') 3. Kehilangan Radiasi (Radiative Losses)

      section
       h5.bullet(style='text-align:left') Pada kabel Fiber optik, sambungan ujung terminal atau disebut juga konektor, biasanya memiliki tipe standar seperti berikut :
       hr
       ul(style='font-size:10px;text-align:left;')
          li FC (Fiber Connector): digunakan untuk kabel single mode dengan akurasi yang sangat tinggi dalam menghubungkan kabel dengan transmitter maupun receiver. Konektor ini menggunakan sistem drat ulir dengan posisi yang dapat diatur, sehingga ketika dipasangkan ke perangkat lain, akurasinya tidak akan mudah berubah
          li SC (Subsciber Connector): digunakan untuk kabel single mode, dengan sistem dicabut-pasang. Konektor ini tidak terlalu mahal, simpel, dan dapat diatur secara manual serta akurasinya baik bila dipasangkan ke perangkat lain.

      section
        ul(style='font-size:10px;text-align:left;')
           li ST (Straight Tip): bentuknya seperti bayonet berkunci hampir mirip dengan konektor BNC. Sangat umum digunakan baik untuk kabel multi mode maupun single mode. Sangat mudah digunakan baik dipasang maupun dicabut
           li Biconic: Salah satu konektor yang kali pertama muncul dalam komunikasi fiber optik. Saat ini sangat jarang digunakan
           li D4: konektor ini hampir mirip dengan FC hanya berbeda ukurannya saja. Perbedaannya sekitar 2 mm pada bagian ferrule-nya
           li SMA: konektor ini merupakan pendahulu dari konektor ST yang sama-sama menggunakan penutup dan pelindung. Namun seiring dengan berkembangnya ST konektor, maka konektor ini sudah tidak berkembang lagi penggunaannya

      section
        p Connector Fiber Optic
        img(src='File/image/connector.jpg')

      section
        p Connector Fiber Optic
        img(src='File/image/connector2.jpg')

      section
        h3 Penyambungan kabel serat optik
        p(style='text-align:left;font-size:12px;') Biasa disebut sebagai splicing. Splicing menggunakan alat khusus yang memadukan dua ujung kabel seukuran rambut secara presisi, dibakar pada suhu tertentu sehingga kaca meleleh tersambung tanpa bagian coated-nya ikut meleleh. 
        p(style='text-align:left;font-size:12px;') Setelah tersambung, bagian sambungan ditutup dengan selubung yang dipanaskan. Alat ini mudah dioperasikan, namun sangat mahal harganya. Inilah sebabnya meskipun harga kabel fiber optik sudah jauh lebih murah namun alat dan biaya lainnya masih mahal, terutama pada biaya pemasangan kabel, splicing dan terminasinya.


      section
        h2 Sistem Komunikasi Fiber Optik
        p(style='font-size:14px;') Dibagi atas beberapa generasi, yaitu :
        p(style='font-size:16px;') Generasi pertama (mulai 1975)
        p(style='font-size:14px;') Sistem masih sederhana dan menjadi dasar bagi sistem generasi berikutnya, terdiri dari : alat encoding, untuk mengubah input (misal suara) menjadi sinyal listrik transmitter, mengubah sinyal listrik menjadi sinyal gelombang, berupa LED dengan panjang gelombang 0,87mm.

      section
        h2(style='font-size:14px;') Generasi kedua (mulai 1981)
        p(style='font-size:14px;') Untuk mengurangi efek dispersi, ukuran teras serat diperkecil agar menjadi tipe mode tunggal. Indeks bias kulit dibuat sedekat-dekatnya dengan indeks bias teras. Dengan sendirinya transmitter juga diganti dengan diode laser, panjang gelombangyang dipancarkannya 1,3mm. Dengan modifikasi ini generasi kedua mampu mencapai kapasitas transmisi 100 Gb.km/s, 10 kali lipat lebih besar daripada generasi pertama.

      section
        h2(style='font-size:14px;') Generasi Ketiga (mulai 1982)
        p(style='font-size:14px;') Terjadi penyempurnaan pembuatan serat silika dan pembuatan chip diode laser berpanjang gelombang 1,55 mm. Kemurnian bahan silika ditingkatkan sehingga transparansinya dapat dibuat untuk panjang gelombang sekitar 1,2 mm sampai 1,6 mm. Penyempurnaan ini meningkatkan kapasitas transmisi menjadi beberapa ratus Gb.km/s.

      section
        h2(style='font-size:14px;') Generasi keempat (mulai 1989)
        p(style='font-size:14px;') Dimulainya riset dan pengembangan sistem koheren, modulasinya yang dipakai bukan modulasi intensitas melainkan modulasi frekuensi, sehingga sinyal yang sudah lemah intensitasnya masih dapat dideteksi. Maka jarak yang dapat ditempuh, juga kapasitas transmisinya, ikut membesar. Pada tahun 1984 kapasitasnya sudah dapat menyamai kapasitas sistem deteksi langsung. Sayang, generasi ini terhambat perkembangannya karena teknologi piranti sumber dan deteksi modulasi frekuensi masih jauh tertinggal. Tetapi tidak dapat disangkal bahwa sistem koheren ini punya potensi untuk maju pesat pada masa-masa yang akan datang.

      section
        h2 Generasi keenam
        p Pada tahun 1988 Linn F. Mollenauer memelopori sistem komunikasi soliton. Soliton adalah pulsa gelombang yang terdiri dari banyak komponen panjang gelombang. Komponen-komponennya memiliki panjang gelombang yang berbeda hanya sedikit, dan juga bervariasi dalam intensitasnya. Panjang soliton hanya 10-12 detik dan dapat dibagi menjadi beberapa komponen yang saling berdekatan, sehingga sinyal-sinyal yang berupa soliton merupakan informasi yang terdiri dari beberapa saluran sekaligus (wavelength division multiplexing). Eksperimen menunjukkan bahwa soliton minimal dapat membawa 5 saluran yang masing-masing membawa informasi dengan laju 5 Gb/s. Cacah saluran dapat dibuat menjadi dua kali lipat lebih banyak jika digunakan multiplexing polarisasi, karena setiap saluran memiliki dua polarisasi yang berbeda. Kapasitas transmisi yang telah diuji mencapai 35 ribu Gb.km/s.

      section
        p Cara kerja sistem soliton ini adalah efek Kerr, yaitu sinar-sinar yang panjang gelombangnya sama akan merambat dengan laju yang berbeda di dalam suatu bahan jika intensitasnya melebihi suatu harga batas. Efek ini kemudian digunakan untuk menetralisir efek dispersi, sehingga soliton tidak akan melebar pada waktu sampai di receiver. Hal ini sangat menguntungkan karena tingkat kesalahan yang ditimbulkannya amat kecil bahkan dapat diabaikan. Tampak bahwa penggabungan ciri beberapa generasi teknologi serat optik akan mampu menghasilkan suatu sistem komunikasi yang mendekati ideal, yaitu yang memiliki kapasitas transmisi yang sebesar-besarnya dengan tingkat kesalahan yang sekecil-kecilnya yang jelas, dunia komunikasi abad 21 mendatang tidak dapat dihindari lagi akan dirajai oleh teknologi serat optik
        
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild

      section
        h2 Generasi ketiga (mulai 1982)
        p Terjadi penyempurnaan pembuatan serat silika dan pembuatan chip diode laser berpanjang gelombang 1,55 mm. Kemurnian bahan silika ditingkatkan sehingga transparansinya dapat dibuat untuk panjang gelombang sekitar 1,2 mm sampai 1,6 mm. Penyempurnaan ini meningkatkan kapasitas transmisi menjadi beberapa ratus Gb.km/s.

      section
        h2 Generasi keempat (mulai 1984)
        p Dimulainya riset dan pengembangan sistem koheren, modulasinya yang dipakai bukan modulasi intensitas melainkan modulasi frekuensi, sehingga sinyal yang sudah lemah intensitasnya masih dapat dideteksi. Maka jarak yang dapat ditempuh, juga kapasitas transmisinya, ikut membesar. Pada tahun 1984 kapasitasnya sudah dapat menyamai kapasitas sistem deteksi langsung. Sayang, generasi ini terhambat perkembangannya karena teknologi piranti sumber dan deteksi modulasi frekuensi masih jauh tertinggal. Tetapi tidak dapat disangkal bahwa sistem koheren ini punya potensi untuk maju pesat pada masa-masa yang akan datang.

      section
        h2 Generasi kelima (mulai 1989)
        p Pada generasi ini dikembangkan suatu penguat optik yang menggantikan fungsi repeater pada generasi-generasi sebelumnya. Sebuah penguat optik terdiri dari sebuah diode laser InGaAsP (panjang gelombang 1,48 mm) dan sejumlah serat optik dengan doping erbium (Er) di terasnya. Pada saat serat ini disinari diode lasernya, atom-atom erbium di dalamnya akan tereksitasi dan membuat inversi populasi*, sehingga bila ada sinyal lemah masuk penguat dan lewat di dalam serat, atom-atom itu akan serentak mengadakan deeksitasi yang disebut emisi terangsang (stimulated emission) Einstein. Akibatnya sinyal yang sudah melemah akan diperkuat kembali oleh emisi ini dan diteruskan keluar penguat. Keunggulan penguat optik ini terhadap repeater adalah tidak terjadinya gangguan terhadap perjalanan sinyal gelombang, sinyal gelombang tidak perlu diubah jadi listrik dulu dan seterusnya seperti yang terjadi pada repeater. Dengan adanya penguat optik ini kapasitas transmisi melonjak hebat sekali. Pada awal pengembangannya hanya dicapai 400 Gb.km/s, tetapi setahun kemudian kapasitas transmisi sudah menembus harga 50 ribu Gb.km/s.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild

