doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Fiber Optik

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Fiber Optik

      section
        h2 Nama Anggota
        ul
          li Jemmy Hasjem    121111494
          li Grant Wilbert   121112465
          li Alfian Agusnady 121110294
          li Eliot Tan       121110588
        
      section
        h2 <a href="http://id.wikipedia.org/wiki/Serat_optik" target="_tab">Fiber Optik</a>
        p(style='font-size:15px;') Serat optik adalah saluran transmisi atau sejenis kabel yang  terbuat dari serat kaca atau plastik yang sangat halus dan lebih kecil dari sehelai rambut (sekitar 120 mikrometer), dan dapat digunakan untuk mentransmisikan sinyal cahaya dari suatu tempat ke tempat lain hingga jarak 50km
      section
        h2 Sejarah Fiber Optik
        p(style='font-size:12px;') Penggunaan cahaya sebagai pembawa informasi sebenarnya sudah banyak digunakan sejak zaman dahulu, baru sekitar tahun 1930-an para ilmuwan Jermanmengawali eksperimen untuk mentransmisikan cahaya melalui bahan yang bernama serat optik. Percobaan ini juga masih tergolong cukup primitif karenahasil yang dicapai tidak bisa langsung dimanfaatkan, namun harus melalui perkembangan dan penyempurnaan lebih lanjut lagi. Perkembangan selanjutnyaadalah ketika para ilmuawan Inggris pada tahun 1958 mengusulkan prototipeserat optik yang sampai sekarang dipakai yaitu yang terdiri atas gelas inti yangdibungkus oleh gelas lainnya. Sekitar awal tahun 1960-an perubahan fantastisterjadi di Asia yaitu ketika para ilmuwan Jepang berhasil membuat jenis seratoptik yang mampu mentransmisikan gambar.
        <a href='File/web/sejarah.html' target="_tab">Klik Jika ingin baca lebih lanjut</a>

      section
        h2 Fungsi Fiber Optik
          h3 Fungsi Fiber Optik adalah mengarahkan gelombang cahaya dalam satu arah lewat proses terjadinya pembiasan cahaya.

      section
        h3.bullet Struktur fiber optik terdiri dari beberapa susunan
            ol(style='font-size:15px;')
              br
              li(style='text-align : left;') Core - serat kaca yang tipis menjadi media cahaya berjalan, sehingga pengiriman cahaya dapat dilakukan.
              li(style='text-align : left;') Cladding - Lapisan luar yang melindungi inti dan memantukan kembali cahaya yang terpancari keluar kembali ke dalam inti
              li(style='text-align : left;') Buffer Coating - Selubung plastik yang bertujuan melindungi serat dari kerusakan yang diakibatkan dari lengkungan kabel dan gangguan luar seperti kelembaban. 


      section
        h2 Struktur Fiber Optik
        img(src='File/image/FO.jpg')
              

      section
        h2 Kelebihan Serat Optik
        ul(style='font-size:14px;')
          li Lebar bidang yang luas, sehingga sanggup menampung informasi yang besar.
          li Bentuk yang sangat kecil dan murah (murah jika membandingkannya dengan banyaknya daya transmisi dari kabel tembaga kapasitas lebih besar).
          li Tidak terpengaruh oleh medan elektris dan medan magnetis.
          li Isyarat dalam kabel terjamin keamanannya.
          li Tidak terdapat tenaga listrik didalam serat sehingga tidak akan terjadi ledakan maupun percikan api.
          li Substan sangat rendah, sehingga memperkecil jumlah sambungan dan jumlah pengulang.

      section
        h2 Kekurangan Fiber Optik
        ul(style='font-size:14px;')
          li Tidak dapat menyalurkan energy listrik. Hal ini mengakibatkan tidak dapat memberikan catuan pada pemasangan repeater
          li Relative sulit saat instalasi. Kabel fiber OPTIK seperti waktu penyambungan, pemasangan konektor lebih memerlukan ketelitian
          li  Kurang tahan terhadap tekanan mekanis dibandingkan kabel tembaga. Konstruksi fiber OPTIK cukup lemah maka dalam pemakaiannya diperlukan lapisan penguat sebagai proteksi dan karakteristik transmisi dapat berubah bila terjadi tekanan dari luar yang berlebihan
          li Perlu proteksi mata untuk teknisinya

      section
        h2 Kode Warna Pada Fiber Optik
        h3 Dalam standarisasinya kode warna dari selubung luar kabel serat optik jenis Patch Cord adalah sebaga berikut :
        ul
        li Kuning   : Serat Optik Single-Mode
        li Orange   : Serat Optik Multi-Mode
        li Aqua     : Optimal Laser 10 giga 50/125 Mikrometer serat optik multi-mode
        li Abu-Abu  : Kode warna serat optik Multi-Mode, yang tidak digunakan lagi
        li Biru     : Kadang masih digunakan dalam model perancangan

      section
        h3.bullet Ada 2 jenis Kabel Fiber optik : 

        ul(style='text-align : left;')
          li Single-mode
            p(style='font-size:12px;') Memiliki Core yang lebih kecil (berdiameter 9 micron) berfungsi mengirimkan sinar laser inframerah yang memungkinkan hanya satu modus cahaya berjalan melalui inti pada satu waktu. Dikembangkan untuk mempertahankan integritas data spasial dan spektrum dari masin masing sinyal optik jarak yang lebih jauh.
          li Multi-mode
             p(style='font-size:12px;') Merupakan tipe yang digunakan untuk tujuan komersial. Memiliki inti yang lebih besar dari serat Single-mode, memungkinkan ratusan modus cahaya tersebar melalui serat secara bersamaan. Berdiamater 62.5 micron.

      section
        h3 Single Mode vs Multi Mode
        img(src='File/image/single-multimode.jpg')


      section
        h3.bullet Bagaimana FIber Optik Mentransmisi Cahaya??

        ul(style='font-size:15px; text-align:left;')
          li Pada prinsipnya fiber optik memantulkan dan membiaskan sejumlah cahaya yang merambat di dalamnya. Efisiensi dari serat optik ditentukan oleh kemurnian dari bahan penyusun gelas/kaca. Semakin murni bahan gelas, semakin sedikit cahaya yang diserap oleh fiber optik.
          hr

          li Untuk mengirimkan percakapan-percakapan telepon atau internet melalui fiber optik, sinyal analog di rubah menjadi sinyal digital. Sebuah laser transmitter pada salah satu ujung kabel melakukan on/off untuk mengirimkan setiap bit sinyal. System fiber optik modern dengan single laser bisa mentransmitkan jutaan bit/second. Atau bisa dikatakan laser transmitter on dan off jutaan kali /second.

      section
        ul(style='font-size:15px; text-align:left;')
          li Helai serat kaca tersebut didesain sangat halus,ketebalannya kira-kira sama dengan tebal rambut manusia. Helai serat kaca dilapisi oleh 2 lapisan plastik (2 layers plastic coating) dengan melapisi serat kaca dengan plastik, akan didapatkan equivalen sebuah cermin disekitar serat kaca. Cermin ini menghasilkan total internal reflection (refleksi total pada bagian dalam serat kaca).
          hr

          li Sama halnya ketika kita berada pada ruangan gelap dengan sebuah jendela kaca, kemudian kita mengarahkan cahaya senter 90 derajat tegak lurus dengan kaca, maka cahaya senter akan tembus ke luar ruangan. Akan tetapi jika cahaya senter tersebut diarahkan ke kaca jendela dengan sudut yang rendah (hampir paralel dengan cahaya aslinya), maka kaca tersebut akan berfungsi menjadi cermin yg akan memantulkan cahaya senter ke dalam ruangan. Demikian pula pada fiber optics, cahaya berjalan melalui serat kaca pada sudut yang rendah.


      section
        img(src='file/image/internalreflection.jpg')


      section
        h3.bullet Ada 5 Komponen utama dalam sistem komunikasi Fiber Optik
        ul(style='text-align:justify;')
          li Cahaya - Sebagai pembawa informasi
          li Optical Transmitter - Memproduksi dan encode sinyal cahaya
          li Kabel Fiber Optik  - Mengalirkan sinyal cahaya 
          li Optical Generator - Memperkuat sinyal cahaya (jarak jauh)
          li Optical Receiver - Penerima dan decode sinyal cahaya


      section
        h3.bullet Cahaya
        ul(style='text-align:justify; font-size : 15px;')
          li Inilah sumber asal-muasal terjadinya sistem komunikasi fiber optik. Cahaya, komponen alam yang memiliki banyak kelebihan ini dimanfaatkan untuk membawa data dengan kecepatan dan bandwidth yang sangat tinggi. Cahaya mempunyai kecepatan tinggi, cahaya kebal terhadap gangguan-gangguan (interferensi), cahaya yang mampu berjalan jauh, semuanya akan Anda rasakan dengan menggunakan media fiber optik ini.

      section
        h3.bullet Optical Transmitter
        ul(style='text-align:justify; font-size : 15px;')
          li Optical transmitter merupakan sebuah komponen yang bertugas untuk mengirimkan sinyal-sinyal cahaya ke dalam media pembawanya. Di dalam komponen ini terjadi proses mengubah sinyal-sinyal elektronik analog maupun digital menjadi sebuah bentuk sinyal-sinyal cahaya. Sinyal inilah yang kemudian bertugas sebagai sinyal korespondensi untuk data Anda. Optical transmitter secara fisik sangat dekat dengan media fiber optic pada penggunaannya. Dan bahkan optical transmitter dilengkapi dengan sebuah lensa yang akan memfokuskan cahaya ke dalam media fiber optik tersebut. Sumber cahaya dari komponen ini bisa bermacam-macam
          hr
          li Sumber cahaya yang biasanya digunakan adalah Light Emitting Dioda (LED) atau solid state laser dioda. Sumber cahaya yang menggunakan LED lebih sedikit mengonsumsi daya daripada laser. Namun sebagai konsekuensinya, sinar yang dipancarkan oleh LED tidak dapat menempuh jarak sejauh laser.


      section
        h3.bullet Kabel Fiber Optik
        ul(style='text-align:justify; font-size : 15px;')
          li Komponen inilah yang merupakan pemeran utama dalam sistem ini. Kabel fiber optik biasanya terdiri dari satu atau lebih fiber optik yang akan bertugas untuk memandu cahaya-cahaya tadi dari lokasi asalnya hingga sampai ke tujuan. Kabel fiber optic secara konstruksi hampir menyerupai kabel listrik, hanya saja ada sedikit tambahan proteksi untuk melindungi transmisi cahaya. Biasanya kabel fiber optic juga bisa disambung, namun dengan proses yang sangat rumit. Proses penyambungan kabel ini sering disebut dengan istilah splicing.


      section
        h3.bullet Optical Regenerator
        ul(style='text-align:justify; font-size : 15px;')
          li Optical regenerator atau dalam bahasa Indonesianya penguat sinyal cahaya, sebenarnya merupakan komponen yang tidak perlu ada ketika Anda menggunakan media fiber optik dalam jarak dekat saja.
          hr
          
          li Sinyal cahaya yang Anda kirimkan baru akan mengalami degradasi dalam jarak kurang lebih 1 km. Maka dari itu, jika Anda memang bermain dalam jarak jauh, komponen ini menjadi komponen utama juga. Biasanya optical generator disambungkan di tengah-tengah media fiber optik untuk lebih menguatkan sinyal-sinyal yang lemah.


      section
        h3.bullet Optical Receiver
          hr

          ul(style='text-align:justify; font-size : 15px;')
            li Optical receiver memiliki tugas untuk menangkap semua cahaya yang dikirimkan oleh optical transmitter. Setelah cahaya ditangkap dari media fiber optic, maka sinyal ini akan didecode menjadi sinyal-sinyal digital yang tidak lain adalah informasi yang dikirimkan. Setelah di-decode, sinyal listrik digital tadi dikirimkan ke sistem pemrosesnya seperti misalnya ke televisi, ke perangkat komputer, ke telepon, dan banyak lagi perangkat digital lainnya. Biasanya optical receiver ini adalah berupa sensor cahaya seperti photocell atau photodiode yang sangat peka dan sensitif terhadap perubahan cahaya.



      

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild