doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Fiber Optik

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Fiber Optik

      section
        h2 Nama Anggota
        ul
          li Jemmy Hasjem    121111494
          li Grant Wilbert   121112465
          li Alfian Agusnady 121110294
          li Eliot Tan       121110588
        
      section
        h2 <a href="http://id.wikipedia.org/wiki/Serat_optik" target="_tab">Fiber Optik</a>
        p(style='font-size:15px;') Serat optik adalah saluran transmisi atau sejenis kabel yang  terbuat dari serat kaca atau plastik yang sangat halus dan lebih kecil dari sehelai rambut (sekitar 120 mikrometer), dan dapat digunakan untuk mentransmisikan sinyal cahaya dari suatu tempat ke tempat lain hingga jarak 50km
        
      section
         h3 Struktur fiber optik terdiri dari beberapa susunan
            ol(style='font-size:15px;')
              br
              li(style='text-align : left;') Core - serat kaca yang tipis menjadi media cahaya berjalan, sehingga pengiriman cahaya dapat dilakukan.
              li(style='text-align : left;') Cladding - Lapisan luar yang melindungi inti dan memantukan kembali cahaya yang terpancari keluar kembali ke dalam inti
              li(style='text-align : left;') Buffer Coating - Selubung plastik yang bertujuan melindungi serat dari kerusakan yang diakibatkan dari lengkungan kabel dan gangguan luar seperti kelembaban. 
              img(src='File/image/img1.jpg')



      section
        h2 Kelebihan Serat Optik
        ul(style='font-size:14px;')
          li Lebar bidang yang luas, sehingga sanggup menampung informasi yang besar.
          li Bentuk yang sangat kecil dan murah (murah jika membandingkannya dengan banyaknya daya transmisi dari kabel tembaga kapasitas lebih besar).
          li Tidak terpengaruh oleh medan elektris dan medan magnetis.
          li Isyarat dalam kabel terjamin keamanannya.
          li Tidak terdapat tenaga listrik didalam serat sehingga tidak akan terjadi ledakan maupun percikan api.
          li Substan sangat rendah, sehingga memperkecil jumlah sambungan dan jumlah pengulang.

      section
        h2 Kekurangan Fiber Optik
        ul(style='font-size:14px;')
          li Tidak dapat menyalurkan energy listrik. Hal ini mengakibatkan tidak dapat memberikan catuan pada pemasangan repeater
          li Relative sulit saat instalasi. Kabel fiber OPTIK seperti waktu penyambungan, pemasangan konektor lebih memerlukan ketelitian
          li  Kurang tahan terhadap tekanan mekanis dibandingkan kabel tembaga. Konstruksi fiber OPTIK cukup lemah maka dalam pemakaiannya diperlukan lapisan penguat sebagai proteksi dan karakteristik transmisi dapat berubah bila terjadi tekanan dari luar yang berlebihan
          li Perlu proteksi mata untuk teknisinya

      section
        h2 Kode Warna Pada Fiber Optik
        h3 Dalam standarisasinya kode warna dari selubung luar kabel serat optik jenis Patch Cord adalah sebaga berikut :
        ul
        li Kuning   : Serat Optik Single-Mode
        li Orange   : Serat Optik Multi-Mode
        li Aqua     : Optimal Laser 10 giga 50/125 Mikrometer serat optik multi-mode
        li Abu-Abu  : Kode warna serat optik Multi-Mode, yang tidak digunakan lagi
        li Biru     : Kadang masih digunakan dalam model perancangan

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild