doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Fiber Optik

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='styles/themes.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body.coverflow
    header
  
    
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href='#')
              | Jump
              b.caret
            ul.dropdown-menu
              li
                a(href='#2') test
              


    article

      section
        h1 Fiber Optik
        img(src='File/image/fiber-optic.jpg')

      section
        h2 Nama Anggota
        ul
          li Jemmy Hasjem    121111494
          li Grant Wilbert   121112465
          li Alfian Agusnady 121110294
          li Eliot Tan       121110588
      

      section 
        h2(align='center', style='font-size: 25px;')  Sejarah Fiber Optik
        p(style='color: #999; font-size: 18px; font-family: \'Trebuchet MS\', Arial, Helvetica, sans-serif; line-height:15px;', align='center')
          | Penggunaan cahaya sebagai pembawa informasi sebenarnya sudah banyak digunakan sejak zaman dahulu, baru sekitar tahun 1930-an para ilmuwan Jermanmengawali eksperimen untuk mentransmisikan cahaya melalui bahan yang bernama serat optik. Percobaan ini juga masih tergolong cukup primitif karenahasil yang dicapai tidak bisa langsung dimanfaatkan, namun harus melalui perkembangan dan penyempurnaan lebih lanjut lagi.
          br
          br
          | Perkembangan selanjutnyaadalah ketika para ilmuawan Inggris pada tahun 1958 mengusulkan prototipeserat optik yang sampai sekarang dipakai yaitu yang terdiri atas gelas inti yangdibungkus oleh gelas lainnya.
      section
        p(style='color: #999; font-size: 18px; font-family: \'Trebuchet MS\', Arial, Helvetica, sans-serif; line-height:15px;', align='center') Sekitar awal tahun 1960-an perubahan fantastisterjadi di Asia yaitu ketika para ilmuwan Jepang berhasil membuat jenis seratoptik yang mampu mentransmisikan gambar.Di lain pihak para ilmuwan selain mencoba untuk memandu cahaya melewatigelas (serat optik) namun juga mencoba untuk ”menjinakkan” cahaya. Kerjakeras itupun berhasil ketika sekitar 1959 laser ditemukan. Laser beroperasi padadaerah frekuensi tampak sekitar 1014 Hertz-15 Hertz atau ratusan ribu kalifrekuensi gelombang mikro.Pada awalnya peralatan penghasil sinar laser masih serba besar dan merepotkan.Selain tidak efisien, ia baru dapat berfungsi pada suhu sangat rendah. Laser juga belum terpancar lurus. Pada kondisi cahaya sangat cerah pun, pancarannyagampang meliuk-liuk mengikuti kepadatan atmosfer. Waktu itu, sebuah pancaranlaser dalam jarak 1 km, bisa tiba di tujuan akhir pada banyak titik dengansimpangan jarak hingga hitungan meter.
        p(style='color: #999; font-size: 16px; font-family: \'Trebuchet MS\', Arial, Helvetica, sans-serif;', align='center')
      section
        p(style='color: #999; font-size: 18px; font-family: \'Trebuchet MS\', Arial, Helvetica, sans-serif; line-height:15px;', align='center')
          | Sekitar tahun 60-an ditemukan serat optik yang kemurniannya sangat tinggi,kurang dari 1 bagian dalam sejuta. Dalam bahasa sehari-hari artinya serat yangsangat bening dan tidak menghantar listrik ini sedemikian murninya, sehinggakonon, seandainya air laut itu semurni serat optik, dengan pencahayaan cukupkita dapat menonton lalu-lalangnya penghuni dasar Samudera Pasifik.Seperti halnya laser, serat optik pun harus melalui tahap-tahap pengembanganawal. Sebagaimana medium transmisi cahaya, ia sangat tidak efisien. Hinggatahun 1968 atau berselang dua tahun setelah serat optik pertama kali diramalkanakan menjadi pemandu cahaya, tingkat atenuasi (kehilangan)-nya masih 20dB/km. Melalui pengembangan dalam teknologi material, serat optik mengalami pemurnian, dehidran dan lain-lain.
          br
      section
        p(style='color: #999; font-size: 18px; font-family: \'Trebuchet MS\', Arial, Helvetica, sans-serif; line-height:15px;', align='center') Secara perlahan tapi pasti atenuasinyamencapai tingkat di bawah 1 dB/km.Tahun 80-an, bendera lomba industri serat optik benar-benar sudah berkibar. Nama-nama besar di dunia pengembangan serat optik bermunculan. Charles K.Kao diakui dunia sebagai salah seorang perintis utama. Dari Jepang muncul Yasuharu Suematsu. Raksasa-raksasa elektronik macam ITT atau STL jelas punya banyak sekali peranan dalam mendalami riset-riset serat optik.



    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild